html{
    margin: 0%;
    padding: 0%;
}
body{
    margin: 1%;
    padding: 1%;
    text-align: center;
    background-color: #ddd;
}
hr{
    width: 50%;
}
li{
    position: relative;
    padding: 2%;
    margin: 2%;
    border-radius: 1%;
    list-style: none;
    background-color: #bbb;
}
iframe{
    padding: 25px;
}
.logo{
    width: 5%;
    position: absolute;
    top: 2%;
    left: 1%;
}
.gitHubLogo{
    width: 5.5%;
    position: absolute;
    top: 1.5%;
    left: 7.5%;
}
.botao{
    background-color: #cecece;
    padding: 1% 2%;
    margin: 2% 2%;
}
.botao:hover{
    box-shadow: 0px 0px 10px #fff;
}